.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px; /* Use padding instead of large margins */
    width: 100%; /* Ensure it spans the full width */
    box-sizing: border-box; 
    z-index: 10; /* Ensure it stays above content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
}
.nav-logo {
    width: 100px; /* Adjust as needed for size */
    height: auto;
    cursor: pointer;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    font-size: 15px;
    
}
.nav-connect{
    padding: 5px 10px;
    border-radius: 10px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06% );
    font-size: 11px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.underline{
    width: 20px;
    height: auto;
    display: flex;
    margin: auto;
    background: linear-gradient(270deg, #DF8908 10%, #B145FF 100%);
    border-radius: 50px;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.anchor-link{
    text-decoration: none;
    color: white;
    
}
.collaps{
    width: 30px;
}
.close-menu{
    width: 30px;
    display: none;
}
.collaps{
    display: none;
}
@media(max-width:768px){
    .navbar{
        padding: 10px 20px;
    }
    .nav-logo {
        margin: auto; /* Center the logo */
    }
    .nav-connect{
        display: none;
    }
    .collaps{
        display: block;
        position: fixed;
        right: 30px;
    }
    .close-menu{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}